<div class="card p-1 mb-4 shadow" >
    <div class="card-body bg-white d-flex p-2 m-0">
        <span class="material-icons mx-1">info</span>
        <div class="d-flex flex-column d-inline-flex mx-1">
            <div class="text-warning card-text sec-name" title="{{securitydesc}}">{{securitydesc}}</div>
            <div class="text-dark card-text sec-date">{{maturity_date}}</div>
        </div>
        <button type="button" class="btn btn-sm btn-success mx-2 btn-pick px-3 pt-0 pb-0 ml-auto">Pick +</button>
    </div>
    <hr class="m-0">

    <div class="row card-body">
        <div class="col">
            <div class="text-muted info-type">ISIN</div>
            <div class="info-type">{{isin}}</div>   
        </div>
        <div class="col">
            <div class="text-muted info-type">COUPON TYPE</div>
            <div class="info-type">{{coupon_type}}</div>
        </div>
        <div class="col">
            <div class="text-muted info-type">#OFFER YIELD %</div>
            <div class="info-type">{{yield}}</div>   
        </div>
    </div>

    <div class="row card-body">
        <div class="col">
            <div class="text-muted info-type">INDIC BID/OFFER</div>
            <div class="info-type">{{bidOffer}}</div>
        </div>
        <div class="col">
            <div class="text-muted info-type">RATING*SP/M/F</div>
            <div class="info-type">{{ratings}}</div>
        </div>
        <div class="col">
            <div class="text-muted info-type">LOT SIZE</div>
            <div class="info-type">{{lotsize}}</div> 
        </div>
    </div>
</div>