#search-input{
    border-radius: 50px 0px 0px 50px;
}

#btn-search{
    border-radius: 0px 50px 50px 0px;
}

%small-bold{
    font-size: 0.75em;
    font-weight: 700;
}

.card{
    border-radius: 10px;
    min-width: 300px;
}

.sec-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    @extend %small-bold
}

.sec-date{
    @extend %small-bold;
}

.btn-pick{
    font-size: 0.7em;
    border-radius: 25px;
    height: 20px;
}

.info-type{
    @extend %small-bold;
}

@media screen and (max-width:576px){
    .sec-name{
        max-width: 180px;
    }
}