#search-input {
  border-radius: 50px 0px 0px 50px;
}

#btn-search {
  border-radius: 0px 50px 50px 0px;
}

.sec-name, .sec-date, .info-type {
  font-size: 0.75em;
  font-weight: 700;
}

.card {
  border-radius: 10px;
  min-width: 300px;
}

.sec-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}

.btn-pick {
  font-size: 0.7em;
  border-radius: 25px;
  height: 20px;
}

@media screen and (max-width: 576px) {
  .sec-name {
    max-width: 180px;
  }
}
/*# sourceMappingURL=styles.css.map */